version: "3.4"

services:
  moviecruiser-server:
    container_name: moviecruiser_container
    build: .
    command: npm start
    depends_on:
      - mongodb
    ports:
      - 8080:8080
    network_mode: host 
    
  mongodb:
    container_name: mongodb_container
    image: mongo:latest
    ports:
      - 27017:27017
    network_mode: host 